<div>
    <span> Oi {{ name }} </span>

    <span>Você solicitou de senha</span>
    <span>
        <a href={{link}}>{{link}}</a>
    </span>

    <span>Caso não tenha sido você quem solicitou a alteração da senha, basta ignorar este e-mail.</span>
</div>